/* latin-ext */
@font-face {
  font-family: "Baloo Bhaina 2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BalooBhaina2/BalooBhaina2-Regular.ttf");
}

@keyframes unblur{
	from {
		-webkit-filter: blur(30px);
		filter: blur(30px);
	}		
	
	to {
		-webkit-filter: blur(0px);
		filter: blur(0px);
	}	
}

:root {	
	--header-elements-height: 4em;
	--header-elements-padding: 1em;	
	--header-transition-time: 0.5s;
	--header-socialNetworks-div-width :calc(2*var(--header-elements-height) + var(--header-elements-padding));
}

* {
	color:white; 
	-webkit-tap-highlight-color: rgba(0,0,0,0);		
	user-drag: none !important; 
	user-select: none !important;
	-moz-user-select: none !important;
	-webkit-user-drag: none !important;
	-webkit-user-select: none !important;
	-ms-user-select: none !important;
}

html {				
	width: 100vw;
	height: 100vh;
	font-family: "Baloo Bhaina 2"; 
	font-size: 1.3vmin;
	-webkit-touch-callout: none !important; /* iOS Safari */
	-webkit-user-select: none !important; /* Safari */
	-khtml-user-select: none !important; /* Konqueror HTML */
	-moz-user-select: none !important; /* Old versions of Firefox */
	-ms-user-select: none !important; /* Internet Explorer/Edge */
	user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

body {
	margin: 0;
	width: 100%;
	position: fixed;
	overflow: hidden;	
	overscroll-behavior-y: none;
	-webkit-overflow-scrolling: touch;								/* Safari */
}

.contentImage {
	animation: unblur 0.5s;
}

#background {    
	position: fixed;
	margin: -1px;
    width: 101%;
    height: 101%;
	background-image: url("../images/backgroundImages/LakeAndMountains_Compressed.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0%;
    z-index: -1;
}

.page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pageSeparator {
	border-radius: 10px;
	height: 0.7%;
	width: 20%;
	margin: auto auto 0 auto;
	background: rgba(0,0,0,0.7); 
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
}

p {
	margin: 0;
	font-size: 190%;
}

.content {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;	
	scroll-behavior: smooth;
	-ms-overflow-style: none !important;								/* Edge */
	scrollbar-width: none !important;									/* Firefox */
}

.content::-webkit-scrollbar {
	display: none;
}

#header {	
	z-index: 2;
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	padding: var(--header-elements-padding);
	height: var(--header-elements-height);
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.7); 
	transition: var(--header-transition-time);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	overscroll-behavior: none;
}

#header > * {
	height: var(--header-elements-height);
}

.linkSection {
	position: absolute;	
	display: flex;
	justify-content: center;
	align-items: center;
}

.linkSection > * {
	text-decoration: none;	
}

.pageLink {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;	
}

.linkSectionHoverBar {
	width: 0em;
	height: 0.3em;
	padding: 0px;
	border-radius: 1em;
	transition: 0.3s;
}

.pageLink:hover .linkSectionHoverBar {
	width: 100%;
	background-color: #f2f2f2;
}

.socialNetworks {
	justify-content: space-between;
	width: var(--header-socialNetworks-div-width);
	margin-left: auto;
	display:flex;
	transition: 0.3s;
}

.socialNetworks > * {
	width: var(--header-elements-height);
	height: var(--header-elements-height);
	border-radius: 100%; 
	cursor: pointer;
	filter: grayscale(100%);
	transition: 0.3s;
}
	
.socialNetworks > *:hover {	
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
	filter: grayscale(0%);
}

.title {
	width:100%;
	text-align:center;
	text-overflow: clip; 
	margin-top: auto;				/* Centers the title*/
}

h1 {
	font-size: 6em;
}

h2 {
	font-size: 2.5em;
}

h1, h2 {
	margin: 0;
	text-shadow: 5px 5px 5px #14141f;
}


#profilePic {
	z-index: 1;
	border-radius: 100%; 
	box-shadow: 0 0 10px #14141f;
	height: 14em;
	width: 14em;
	-webkit-transform: translate3d(0, 20%, 0);
	transform: translate3d(0, 20%, 0);
	background-image: url("../images/profilePictures/profilePicture_Compressed.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0%;	
	
}

.presentationCard {
	width: 37em;
	height: 40em;
	box-shadow: 0 0 10px #14141f;
	overflow-x: hidden;
	overflow-y: scroll;	
	border-radius: 5%;
	padding: 2.5em;
	margin-bottom: auto;				/* Centers the title*/
	
	background: rgba(0,0,0,0.3); 
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	
	-ms-overflow-style: none !important;								/* Edge */
	scrollbar-width: none !important;									/* Firefox */	
	overscroll-behavior: none;
}

.presentationCard::-webkit-scrollbar {
	display: none;
}

.presentationCard > * {
	margin-top: 1em;
	margin-bottom: 1em;
	text-shadow: 3px 3px 5px #14141f;
}

.projectsCarousel {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.websiteShowcase {
	display: flex;
	max-width: 70%;
	border-radius: 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	overscroll-behavior: none;
	box-shadow: 0 0 10px #14141f;
	background: rgba(0,0,0,0.3); 
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	-ms-overflow-style: none !important;								/* Edge */
	scrollbar-width: none !important;									/* Firefox */	
}

.websiteShowcase::-webkit-scrollbar {
	display: none;
}

.websiteShowcase > *{
	padding: 1em;	
}

.websiteGoToButton {
	text-decoration: none;
}

.websitePreview {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 15em;
	height: 15em;
	text-align:center;	
	border-radius: 5%;
	transition: 0.3s;
	background: rgba(0,0,0,0.5); 
}

.websitePreview:hover {
	-webkit-transform:  scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}

.websitePreviewImage {
	display: flex;	 
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
}

.websitePreviewImage > *{	
	border-radius: 100%;	
	width: 60%;
}

.carouselButton {	
	height: 5em;
	width: 5em;
	padding: 0;
	margin: auto;
	cursor: pointer;
	border-radius: 100%;
	outline: none;
	border: none;
	box-shadow: 0 0 10px #14141f;
	background: rgba(0,0,0,0.2);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

@media only screen and (max-width: 1080px) {
	@keyframes slideIn{
		from {
			-webkit-transform: scale3d(0, 0, 0);
			transform: scale3d(0, 0, 0);
		}
					
		30% {
			-webkit-transform: scale3d(1.2, 1.2, 1.2);
			transform: scale3d(1.2, 1.2, 1.2);
		}	
		
		to {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}	
	}
	
	:root {	
		--header-elements-height: 50px;
		--header-elements-padding: 10px;		
		--bar-margin: 15px;
		--bar-width: 40px;
		--bar-height: 4px;
		--bar-offset-translate3d: calc(var(--bar-height)/2 + var(--bar-margin)/2);
		--bar-offset-inverted-translate3d: calc(-1 * var(--bar-offset-translate3d));	
	}
	
	#header.mobileExpanded {
		height: 100%;
		background: rgba(0,0,0,0.9); 
		justify-content: center;
	}
	
	#hamburgerMenu {
		z-index: 4;
		cursor: pointer;
	}

	#hamburgerMenu > * {
		width: var(--bar-width);
		height: var(--bar-height);
		margin: var(--bar-margin) 0 var(--bar-margin) 0;
		border-radius: 10px;
		background-color: #f2f2f2;
		transition: var(--header-transition-time);
	}	
	
	.mobileExpanded .bar1 {
		-webkit-transform: translate3d(0, var(--bar-offset-translate3d), 0) rotate3d(0,0,1,45deg);
		transform: translate3d(0, var(--bar-offset-translate3d), 0) rotate3d(0,0,1,45deg);
	}

	.mobileExpanded .bar2 {
		-webkit-transform: translate3d(0, var(--bar-offset-inverted-translate3d), 0) rotate3d(0,0,1,-45deg);
		transform: translate3d(0, var(--bar-offset-inverted-translate3d), 0) rotate3d(0,0,1,-45deg);
	}	

	.linkSection {
		pointer-events: none;
		flex-direction: column;
		opacity: 0;
	}

	.mobileExpanded .linkSection {
		pointer-events: auto;
		z-index: 3;
		font-size: 2.5em;
		opacity: 1;
		animation: slideIn calc(2*var(--header-transition-time));
		transition: var(--header-transition-time);
	}
	
	.linkSection > * {
		margin-top: 3em;
		margin-bottom: 3em;
	}
	
	.mobileExpanded .socialNetworks {
		z-index: 4;
		-webkit-transform: translate3d(calc(var(--header-socialNetworks-div-width)/2 - var(--header-elements-height)/ 2), 0, 0) rotate3d(0,0,1,90deg);
		transform: translate3d(calc(var(--header-socialNetworks-div-width)/2 - var(--header-elements-height)/ 2), 0, 0) rotate3d(0,0,1, 90deg);
	}
	
	.mobileExpanded .socialNetworks > * {
		filter: grayscale(100%);	
		-webkit-transform: rotate3d(0,0,1,-90deg);
		transform: rotate3d(0,0,1, -90deg);
	}
	
	.mobileExpanded .socialNetworks > *:hover {
		filter: grayscale(0%);
		-webkit-transform: rotate3d(0,0,1,-90deg) scale3d(1.1, 1.1, 1.1);
		transform: rotate3d(0,0,1, -90deg) scale3d(1.1, 1.1, 1.1);
	}	
		
	.socialNetworks > * {
		filter: grayscale(0%);
	}	
		
	.presentationCard {
		width: 50em;
		height: 60em;
	}
	
	.presentationCard > * {
		font-size: 300%;
		backface-visibility: hidden;						/* Blurry text fix */
	}
	
	#profilePic {
		width: 20em;
		height: 20em;
	}
	
	.websiteShowcase {
		max-width: 85%;
	}
	
	.carouselButton {
		display: none;
	}
}