/*
 * CSS STYLES' ORGANIZATION
 * 0) KEYFRAMES GLOBAL ANIMATIONS
 * 1A) CSS GLOBAL VARIABLES
 * 1B) CSS WEBSITE LIGHT-THEME'S GLOBAL VARIABLES
 * 2) GENERAL STYLING
 * 3) OFFSCREEN/BACKGROUND ELEMENTS STYLING
 * 4) HEADER ELEMENTS STYLING
 * 5) PAGES COMMON STYLING
 * 6) FIRST PAGE ELEMENTS' STYLING
 * 7) SECOND PAGE ELEMENTS' STYLING
 * 8) THIRD PAGE ELEMENTS' STYLING
 * 9) FOURTH PAGE ELEMENTS' STYLING
 * 10) MEDIA:HOVER-WITH-ACTUAL-MOUSE ELEMENTS' STYLING
 * 11) MEDIA:MOBILE-PORTRAIT BROWSERS ELEMENTS' STYLING
 * 12) MEDIA:MOBILE-LANDASCAPE BROWSERS ELEMENTS' STYLING
 */







 /* 0) KEYFRAMES GLOBAL ANIMATIONS */
@keyframes scrollDownButtonBounce {
  0% {
    transform: translate3d(-20%,0,0);
  }

  100% {
      transform: translate3d(0,0,0);
  }
}

@keyframes lazyLoadElementAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}















/* 1A) CSS GLOBAL VARIABLES */
:root {
  /*
   * The var(--100vh) is initially set to 100vh
   * so that the cumulative layout shift is greatly reduced,
   * after the body element loaded it's defined with js.
   * The var(--1vh) and var(--50vh) are used instead of 1vh and 50vh because
   * 1vh and 50vh would decrease if the browser's window shrinks,
   * but this is not a desired behaviour
   * Problems this methods solves:
   * 1) When the keyboard rises the viewport shrinks and it becomes impossible to see what is been typed
   * 2) When, on mobile browsers, the toolbar shrinks and expands the pages' heights adjust accordingly and the whole page jumps back and forth
   */
  --1vh:calc(var(--100vh) / 100);
  --50vh:calc(var(--100vh) / 2);
  --100vh: 100vh;

  --backdrop-filter-blur-radius-ultra-reduced:0.13rem;
	--backdrop-filter-blur-radius-reduced:1rem;
	--backdrop-filter-blur-radius:1.5rem;
	--backdrop-filter-blur-radius-wide:2rem;
	--backdrop-filter-blur-radius-ultra-wide:3rem;

	--boxShapedElement-border-radius:1rem;
	--boxShapedElement-border-radius-wide:2.5rem;

	--box-shadow-radius:0.5rem;
	--text-shadow-offset:0.08em;
	--text-shadow-radius:0.3rem;

	--scaling-factor-increase:1;
	--scaling-factor-decrease:1;

  --transition-time-slow:1s;
	--transition-time:0.5s;
	--transition-time-medium:0.4s;
	--transition-time-quick:0.2s;

	--header-elements-height:4rem;
	--header-elements-padding:1rem;
	--header-socialNetworks-div-width:calc(4 * var(--header-elements-height) + 3 * var(--header-elements-padding)); /* 4: number of socialNetworks; 3: number of spaces between them*/

  --main-title-svg-path:./svgs/mainTitles/svgs/haarlemDeco.svg;
  --my-projects-svg-path:./svgs/myProjects/svgs/haarlemDeco.svg;

	--profilePic-size:17vmin;
	--presentationCard-height:60vmin;
	--presentationCard-width:55vmin;

	--websitePreview-size:15rem;
  --websitePreview-expanded-size:70vmin;

	--light-theme-blur-background-color-Black: rgba(0,0,0,1);
	--light-theme-blur-background-color-White: rgba(255,255,255,0.5);
	--light-theme-blur-background-color-Darkest: rgba(255,255,255,0.75);
	--light-theme-blur-background-color-Dark: rgba(255,255,255,0.7);
	--light-theme-blur-background-color-Average: rgba(255,255,255, 0.5);
	--light-theme-blur-background-color-Bright: rgba(230,230,230,0.5);
	--light-theme-blur-background-color-Brightest: rgba(200,200,200,0.4);
	--light-theme-box-shadow:0 0 var(--box-shadow-radius) 0 rgba(50,50,50,1);
	--light-theme-text-shadow-color: rgba(200,200,200,1);
	--light-theme-text-shadow-color-inverted: rgba(50,50,50,1);
	--light-theme-text-color: rgba(0,0,0,1);
	--light-theme-text-color-disabled: rgba(0,0,0,0.5);
	--light-theme-githubContact-background-color: radial-gradient(circle, rgba(255,255,255,1) 58%, rgba(145,145,145,1) 60%);
	--light-theme-stackoverflowContact-background-color: radial-gradient(circle, rgba(245,245,245,1) 60%, rgba(255,115,0,1) 64%);
	--light-theme-instagramContact-background-color: linear-gradient(340deg, rgba(244,255,0,1) 0%, rgba(255,39,218,1) 58%, rgba(255,39,218,1) 72%, rgba(0,83,255,1) 99%);
	--light-theme-mailContact-background-color: linear-gradient(35deg, rgba(255,248,0,1) 0%, rgba(255,99,0,1) 67%);
  --light-theme-background-image-base-path: ./images/backgroundImages/LightTheme/background_Light;  /* MUST NOT HAVE ANY EXTENSION HERE, IT WILL BE ADDED BY THE JS */
	--light-theme-background-color: rgba(255,255,255,1);

	--dark-theme-blur-background-color-Black: rgba(0,0,0,1);
	--dark-theme-blur-background-color-White: rgba(100,100,100,0.2);
	--dark-theme-blur-background-color-Darkest: rgba(0,0,0,0.85);
	--dark-theme-blur-background-color-Dark: rgba(0,0,0,0.8);
	--dark-theme-blur-background-color-Average: rgba(0,0,0,0.5);
	--dark-theme-blur-background-color-Bright: rgba(0,0,0,0.35);
	--dark-theme-blur-background-color-Brightest: rgba(0,0,0,0.3);
	--dark-theme-box-shadow: none;
	--dark-theme-text-shadow-color: rgba(0,0,0,0.7);
	--dark-theme-text-shadow-color-inverted: rgba(200,200,200,1);
	--dark-theme-text-color: rgba(255,255,255,1);
	--dark-theme-text-color-disabled: rgba(255,255,255,0.5);
	--dark-theme-githubContact-background-color: radial-gradient(circle, rgba(36,41,46,1) 59%, rgba(85,85,85,1) 62%);
	--dark-theme-stackoverflowContact-background-color: radial-gradient(circle, rgba(57,57,57,1) 60%, rgba(255,124,0,1) 64%);
	--dark-theme-instagramContact-background-color: linear-gradient(340deg, rgba(255,222,0,1) 0%, rgba(236,17,198,1) 69%, rgba(9,31,255,1) 100%);
	--dark-theme-mailContact-background-color: linear-gradient(45deg, rgba(255,179,0,1) 0%, rgba(255,0,94,1) 100%);
  --dark-theme-background-image-base-path: ./images/backgroundImages/DarkTheme/background_Dark;      /* MUST NOT HAVE ANY EXTENSION HERE, IT WILL BE ADDED BY THE JS */
	--dark-theme-background-color: rgba(0,0,0,1);

  --theme-blur-background-color-Black: var(--dark-theme-blur-background-color-Black);
  --theme-blur-background-color-White: var(--dark-theme-blur-background-color-White);
  --theme-blur-background-color-Darkest: var(--dark-theme-blur-background-color-Darkest);
  --theme-blur-background-color-Dark: var(--dark-theme-blur-background-color-Dark);
  --theme-blur-background-color-Average: var(--dark-theme-blur-background-color-Average);
  --theme-blur-background-color-Bright: var(--dark-theme-blur-background-color-Bright);
  --theme-blur-background-color-Brightest: var(--dark-theme-blur-background-color-Brightest);
  --theme-box-shadow: var(--dark-theme-box-shadow);
  --theme-text-shadow-color: var(--dark-theme-text-shadow-color);
  --theme-text-shadow-color-inverted: var(--dark-theme-text-shadow-color-inverted);
  --theme-text-color: var(--dark-theme-text-color);
  --theme-text-color-disabled: var(--dark-theme-text-color-disabled);
  --theme-githubContact-background-color: var(--dark-theme-githubContact-background-color);
  --theme-stackoverflowContact-background-color: var(--dark-theme-stackoverflowContact-background-color);
  --theme-instagramContact-background-color: var(--dark-theme-instagramContact-background-color);
  --theme-mailContact-background-color: var(--dark-theme-mailContact-background-color);
  --theme-background-image-base-path: var(--dark-theme-background-image-base-path);
  --theme-background-color: var(--dark-theme-background-color);
}






/* 1B) CSS WEBSITE LIGHT-THEME'S GLOBAL VARIABLES */
@media (prefers-color-scheme:light) {
	:root {
    --theme-blur-background-color-Black: var(--light-theme-blur-background-color-Black);
    --theme-blur-background-color-White: var(--light-theme-blur-background-color-White);
    --theme-blur-background-color-Darkest: var(--light-theme-blur-background-color-Darkest);
    --theme-blur-background-color-Dark: var(--light-theme-blur-background-color-Dark);
    --theme-blur-background-color-Average: var(--light-theme-blur-background-color-Average);
    --theme-blur-background-color-Bright: var(--light-theme-blur-background-color-Bright);
    --theme-blur-background-color-Brightest: var(--light-theme-blur-background-color-Brightest);
    --theme-box-shadow: var(--light-theme-box-shadow);
    --theme-text-shadow-color: var(--light-theme-text-shadow-color);
    --theme-text-shadow-color-inverted: var(--light-theme-text-shadow-color-inverted);
    --theme-text-color: var(--light-theme-text-color);
    --theme-text-color-disabled: var(--light-theme-text-color-disabled);
    --theme-githubContact-background-color: var(--light-theme-githubContact-background-color);
    --theme-stackoverflowContact-background-color: var(--light-theme-stackoverflowContact-background-color);
    --theme-instagramContact-background-color: var(--light-theme-instagramContact-background-color);
    --theme-mailContact-background-color: var(--light-theme-mailContact-background-color);
    --theme-background-image-base-path: var(--light-theme-background-image-base-path);
    --theme-background-color: var(--light-theme-background-color);
	}
}













/* 2) GENERAL STYLING */
* {
	color:var(--theme-text-color);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-appearance: none;						/* Fix for box-shadows on Safari */
	-webkit-user-drag:none !important;
	user-drag:none !important;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1rem;
}

/* Scrollbar - Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-blur-background-color-Bright);
  border-radius: 5rem;
}

/* Scrollbar - Handle on hover */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: var(--theme-blur-background-color-Dark);
}

html {
  font-family: "UniNeueLight";
  font-size:1.3vmin;

  margin:0;
  height: 100%;   /* Needed for the var(--100vh) fix */
	background-color: var(--theme-background-color);

  -ms-overflow-style:none !important;									/* Edge */
  scrollbar-width:none !important;									/* Firefox */
	-webkit-touch-callout:none !important; /* iOS Safari */
	-webkit-user-select:none !important; /* Safari */
	-khtml-user-select:none !important; /* Konqueror HTML */
	-moz-user-select:none !important; /* Old versions of Firefox */
	-ms-user-select:none !important; /* Internet Explorer/Edge */
	user-select:none !important; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

body {
    margin:0;
}

body::-webkit-scrollbar {
	display:none;
}

p {
	margin:0;
	font-size:190%;
}


























/* 3) OFFSCREEN/BACKGROUND ELEMENTS STYLING */
#bodyBackground {
	position:fixed;
  margin: -1%;
  width:120vw;
  height:calc(120 / 100 * var(--100vh));
  background-repeat:no-repeat;
	background-size:cover;
	background-position:50% 0%;
  z-index:-1;
}

#popUpMessage {
  z-index:2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  padding: var(--header-elements-padding) calc(2 * var(--header-elements-padding)) var(--header-elements-padding) calc(2 * var(--header-elements-padding));
  top: calc(var(--header-height) + var(--header-elements-padding));
  left: 50%;

  -webkit-box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);
  box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);

  background:var(--theme-blur-background-color-Dark);
  -webkit-backdrop-filter:blur(var(--backdrop-filter-blur-radius-reduced));
  backdrop-filter:blur(var(--backdrop-filter-blur-radius-reduced));

  -webkit-transform: translate3d(-50%,  calc(-2 * (var(--header-height) + 2 * var(--header-elements-padding))), 0);
  transform: translate3d(-50%, calc(-2 * (var(--header-height) + 2 * var(--header-elements-padding))), 0);
	transition:var(--transition-time-medium);

  --header-height: calc(var(--header-elements-height) + 2 * var(--header-elements-padding));
}

#popUpMessage.messageOnScreen{
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

#popUpMessageText {
  font-weight: bold;
  white-space: nowrap;
}

.lazyLoadElementAnimation {
  animation: lazyLoadElementAnimation var(--transition-time);
}
















/* 4) HEADER ELEMENTS STYLING */
#headerBackground {
	z-index:2;
	position:fixed;
	height: var(--100vh);
	width: 100vw;
	background:var(--theme-blur-background-color-Dark);
	-webkit-backdrop-filter:blur(var(--backdrop-filter-blur-radius-reduced));
	backdrop-filter:blur(var(--backdrop-filter-blur-radius-reduced));

	-webkit-transform: translate3d(0, calc(var(--header-elements-height) + 2 * var(--header-elements-padding) - var(--100vh)), 0);
	transform: translate3d(0, calc(var(--header-elements-height) + 2 * var(--header-elements-padding) - var(--100vh)), 0);
	transition:var(--transition-time);
}

#header {
	z-index:3;
	position:fixed;
	display:flex;
	align-items:center;
	justify-content:center;
	top:0%;
	left:0%;
	right:0%;
	padding:var(--header-elements-padding);

	transition:var(--transition-time);
}

#header > * {
	height:var(--header-elements-height);
}

#linkSection {
	position:absolute;
	display:flex;
	justify-content:center;
	align-items:center;
}

.pageLink {
	display:block;
	text-align:center;
	text-decoration:none;
	align-items:center;
	margin:0 1em 0 1em;
}

.pageLinkBarOnHover {
	width:100%;
	height:0.15em;
	margin:auto;
	border-radius:5rem;
	background-color: var(--theme-text-color);

  -webkit-transform: scale3d(0,1,0);
  transform: scale3d(0,1,0);
	transition:var(--transition-time-medium);
}

#socialNetworks {
	z-index:4;
	justify-content:space-between;
	width:var(--header-socialNetworks-div-width);
	margin-left:auto;
	display:flex;
}

#socialNetworks > a {
	display:flex;
	justify-content:center;
	align-items:center;
	position: relative;
	text-decoration: none;
	font-size: 3.5em;
	min-width:var(--header-elements-height);
	min-height:var(--header-elements-height);
	cursor:pointer;
	-webkit-backface-visibility: hidden;			/* Safari Fix */
}

#socialNetworks > a::after{
	z-index:-1;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius:50%;
	opacity: 0;
	transition:var(--transition-time-quick) ease-out;
}

#socialNetworks > #mailContact,
#socialNetworks > #stackoverflowContact {
	font-size: 3em;
}

#githubContact::after {
	background: var(--theme-githubContact-background-color);
}

#stackoverflowContact::after {
	background: var(--theme-stackoverflowContact-background-color);
}

#instagramContact::after {
	background: var(--theme-instagramContact-background-color);
}

#mailContact::after {
	background: var(--theme-mailContact-background-color);
}

#socialNetworks > a:hover::after {
  opacity: 1;
}


















/* 5) PAGES COMMON STYLING */
.page {
  position: relative;
  width:100vw;
  height:var(--100vh);
  display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.svgPageTitleWrapper {
    pointer-events: none;             /* If the wrapper overlays with another element, this prevents the page to scroll instead of scrolling whithin that element */

    position: absolute;
    width:100vw;
    height:var(--100vh);
}

.svgPageTitle {
  width: 100%;
  height: 100%;

  background-color: rgba(255,255,255,0.1);
  //background: linear-gradient(0deg, rgba(0,0,0,0.2) 40%, rgba(255,255,255,0.2) 60%);
  -webkit-backdrop-filter: blur(var(--backdrop-filter-blur-radius-reduced)) saturate(230%);
  backdrop-filter: blur(var(--backdrop-filter-blur-radius-reduced)) saturate(230%);

  /* Chrome, Safari and all webkit browsers */
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;

  /* Firefox */
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;

  /* For 3d acceleration purpose only */
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.svgPageTitleShadow {
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0,-100%, 0);
  transform: translate3d(0,-100%, 0);
}

.pageSeparator {
  border-radius: 5rem;
	height:0.7%;
	width:20%;
	margin:auto auto 0 auto;
	background:var(--theme-blur-background-color-Dark);
	-webkit-box-shadow: var(--theme-box-shadow);
	box-shadow: var(--theme-box-shadow);
	-webkit-backdrop-filter:blur(var(--backdrop-filter-blur-radius));
	backdrop-filter:blur(var(--backdrop-filter-blur-radius));
	transition:var(--transition-time-quick);
}






















/* 6) FIRST PAGE ELEMENTS' STYLING */
#svgPageTitleWrapperMainTitle {
  -webkit-transform: translate3d(0, calc(var(--websitePreview-size) / -3), 0);
  transform: translate3d(0, calc(var(--websitePreview-size) / -3), 0);
}

#scrollDownButton {
  position: absolute;
  cursor:pointer;
  outline:none;
  border:none;
  text-decoration: none;

  -webkit-transform: translate3d(0, calc(var(--100vh) / 4),0) rotate3d(0,0,1,90deg);
  transform: translate3d(0, calc(var(--100vh) / 4),0) rotate3d(0,0,1,90deg);
}

#scrollDownButton::after {
  content:"->";
  display: block;
  width: 4rem;
  height: 4rem;

  line-height: 4rem;
  text-align: center;
  white-space: nowrap;

  font-size:6rem;
  padding:0.3em;
  border-radius:100%;

  -webkit-box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);
  box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);

  background:var(--theme-blur-background-color-Brightest);
  -webkit-backdrop-filter:blur(var(--backdrop-filter-blur-radius-reduced));
  backdrop-filter:blur(var(--backdrop-filter-blur-radius-reduced));

  animation: scrollDownButtonBounce var(--transition-time-slow) ease-out alternate infinite;
}























/* 7) SECOND PAGE ELEMENTS' STYLING */
#profilePic {
	z-index:1;
	border-radius:100%;
	-webkit-box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);
	box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);
	height:var(--profilePic-size);
	width:var(--profilePic-size);
	-webkit-transform:translate3d(0, calc(var(--50vh) - var(--profilePic-size) * 0.75 - var(--presentationCard-height) / 2 + var(--header-elements-height) + 2 * var(--header-elements-padding)), 0);
	transform:translate3d(0, calc(var(--50vh) - var(--profilePic-size) * 0.75 - var(--presentationCard-height) / 2 + var(--header-elements-height) + 2 * var(--header-elements-padding)), 0);
}

#presentationCard {
  cursor:default;   /* Fix for safari text-cursor on non-selectable text */
  overflow-x:hidden;
  overflow-y:scroll;
  border-radius:5%;
	height:var(--presentationCard-height);
	width:var(--presentationCard-width);

	-webkit-box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);
	box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);

	background:var(--theme-blur-background-color-Bright);
	-webkit-backdrop-filter:blur(var(--backdrop-filter-blur-radius-ultra-wide)) saturate(150%);
	backdrop-filter:blur(var(--backdrop-filter-blur-radius-ultra-wide)) saturate(150%);

	-webkit-transform:translate3d(0, calc(var(--50vh) - var(--presentationCard-height) / 2 - var(--profilePic-size) + var(--header-elements-height) + 2 * var(--header-elements-padding)), 0);
	transform:translate3d(0, calc(var(--50vh) - var(--presentationCard-height) / 2 - var(--profilePic-size) + var(--header-elements-height) + 2 * var(--header-elements-padding)), 0);

	-ms-overflow-style:none !important;									/* Edge */
	scrollbar-width:none !important;									/* Firefox */
	overscroll-behavior:none;
}

#presentationCard::-webkit-scrollbar {
	display:none;
}

#presentationCard > * {
  color:var(--theme-text-color);
  text-shadow: none;
  font-size: 2rem;
	margin:calc(0.25 * var(--profilePic-size));
	backface-visibility:hidden;						/* Blurry text fix */
}

#presentationCard > * strong {
    font-size: 110%;
}

#presentationCard > h2 {
  font-size: 3rem;
	margin:calc(0.25 * var(--profilePic-size)) calc(0.25 * var(--profilePic-size)) calc(0.25 * var(--profilePic-size)) calc(0.25 * var(--profilePic-size));
}
























/* 8) THIRD PAGE ELEMENTS' STYLING */
#svgPageTitleWrapperMyProjects {
  height:calc(var(--100vh) - var(--websitePreview-size) - 2rem); /* 2rem is the total websitePreviews margin */
  -webkit-transform: translate3d(0, calc(-2/3 * (var(--websitePreview-size) + 2rem)), 0);    /* 2rem is the total websitePreviews margin */
  transform: translate3d(0, calc(-2/3 * (var(--websitePreview-size) + 2rem)), 0);
}

.projectsCarousel {
	width:100%;
	display:flex;
	justify-content:center;

  -webkit-transform: translate3d(0, calc(var(--50vh) - 25%), 0);
  transform: translate3d(0, calc(var(--50vh) - 25%), 0);
}

#websiteShowcase {
	display:flex;
	max-width:70%;
	border-radius:var(--boxShapedElement-border-radius);
	overflow-y:hidden;
	overscroll-behavior:none;
	background:var(--theme-blur-background-color-Brightest);
	-webkit-box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);
	box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);
	-webkit-backdrop-filter:blur(var(--backdrop-filter-blur-radius)) saturate(150%);
	backdrop-filter:blur(var(--backdrop-filter-blur-radius)) saturate(150%);
	transition:var(--transition-time-quick);

  -ms-overflow-style:none !important;								/* Edge */
	scrollbar-width:none !important;									/* Firefox */
}

#websiteShowcase::-webkit-scrollbar {
	display:none;
}

#websiteShowcase::after {
  content: "";
  border-right: 1rem solid transparent;			/* Fix for the right margin being ignored by the overflow of websiteShowcase */
}

.websitePreview {
	cursor:pointer;
	display:flex;
	flex:none;
	flex-direction:column;
	justify-content:center;
	align-items:center;
  margin:1rem 0em 1rem 1rem;
  border-radius:var(--boxShapedElement-border-radius);

  width:var(--websitePreview-size);
	height:var(--websitePreview-size);

  background:var(--theme-blur-background-color-Average);

  -webkit-box-shadow: var(--theme-box-shadow);
	box-shadow: var(--theme-box-shadow);

  transition:opacity 0s, transform var(--transition-time-quick);
}

.websitePreview:hover {
	-webkit-transform:scale3d(var(--scaling-factor-increase), var(--scaling-factor-increase), var(--scaling-factor-increase));
	transform:scale3d(var(--scaling-factor-increase), var(--scaling-factor-increase), var(--scaling-factor-increase));
}

.websitePreview.expandedState {
	opacity:0;
}

.websitePreviewImage {
	border-radius:100%;
	width:70%;
	height:70%;
	border:none;
}

#websitePreviewExpanded {
  cursor:default;

  position: fixed;            /* This avoids layout shifts during the expandedState animation */
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;

  border-radius:5%;

  height:var(--websitePreview-current-size);
	width:var(--websitePreview-current-size);

  -webkit-box-shadow: var(--theme-box-shadow);
	box-shadow: var(--theme-box-shadow);

	background:var(--theme-blur-background-color-Average);
	-webkit-backdrop-filter:blur(var(--backdrop-filter-blur-radius-reduced)) saturate(150%);
	backdrop-filter:blur(var(--backdrop-filter-blur-radius-reduced)) saturate(150%);

	-webkit-transform: translate3d(var(--transform-translateX), var(--transform-translateY), 0) scale3d(1,1,1);
	transform: translate3d(var(--transform-translateX), var(--transform-translateY), 0) scale3d(1,1,1);
  transition:all var(--transition-time-medium);

  /*
   * The websitePreviewExpanded is centered by default thanks to the display flex-allignment of its
   * container (websitePreviewExpandedBackgroundContent).
   * Its initial position should match the corresponding websitePreview's one.
   * This is achieved throught 2 translation (X and Y, the Z is untouched).
   * The transformations:
   * - Reset the X and Y to (-websitePreview-current-size / 2, -websitePreview-current-size / 2) -> the transform-origin is center !
   * - Add half of the corresponding websitePreview's size (width and height are the same) to the X and Y so that the coordinates are now (0,0)
   * - Add the orginal-left-position to the X and the original-top-position to the Y to allign the websitePreviewExpanded to the corresponding websitePreview
   *
   * NOTE: var(--50vh) + window-inner-height-offset => current browser's height
   *       this has to be subtracted from the current position in order to reset the Y to 0.
   *       - (var(--50vh) + window-inner-height-offset) == - var(--50vh) - window-inner-height-offset (TranslateY).
   */
	--transform-translateX: calc(var(--websitePreview-current-size) / 2 + var(--websitePreview-original-left-position) - 50vw );
	--transform-translateY: calc(var(--websitePreview-current-size) / 2 + var(--websitePreview-original-top-position) - var(--50vh) - var(--window-inner-height-offset));

  /*
   * When expanded the image occupies only 50% of the height/width of the websitePreview, not the 70%.
   * The *var(--scale3dFactor) is done when the websitePreviewExpanded container of the websitePreviewExpandedImage is transformed.
   */
  --scale3dFactor-Image: calc(50 / 70);
  --scale3dFactor-Title: calc(1 / var(--scale3dFactor));
  --scale3dFactor-ButtonSection: calc(1 / var(--scale3dFactor));
  --websitePreviewImage-expanded-size: calc(var(--scale3dFactor-Image) * var(--scale3dFactor) * var(--websitePreviewImage-current-size));
}

.expandedState #websitePreviewExpanded {
  /*
   * var(--window-inner-height-offset) / 2 instead of var(--window-inner-height-offset)
   * because the transform-origin is center.
   */
	-webkit-transform: translate3d(0, calc(var(--window-inner-height-offset) / 2), 0) scale3d(var(--scale3dFactor), var(--scale3dFactor), 1);
	transform: translate3d(0, calc(var(--window-inner-height-offset) / 2), 0) scale3d(var(--scale3dFactor), var(--scale3dFactor), 1);

}

.websitePreviewExpandedImage {
  position: fixed;                                  /* This avoids layout shifts during the expandedState animation */
	height:var(--websitePreviewImage-current-size);
	width:var(--websitePreviewImage-current-size);
	border-radius:100%;
	transition:all var(--transition-time-medium);
}

.expandedState .websitePreviewExpandedImage {
	-webkit-transform: scale3d(var(--scale3dFactor-Image),var(--scale3dFactor-Image), 1);
	transform: scale3d(var(--scale3dFactor-Image), var(--scale3dFactor-Image), 1);
}

.websitePreviewExpandedTitle {
  position: fixed;            /* This avoids layout shifts during the expandedState animation */
  height: calc(25 / 100 * var(--websitePreview-current-size) * var(--scale3dFactor));

  line-height: calc(25 / 100 * var(--websitePreview-current-size) * var(--scale3dFactor));
  vertical-align: middle;
  white-space: nowrap;
  font-size:3rem;
  font-weight: bold;

  /* The x2 is due to the var(scale3dFactor-Image) having as the increasing factor 2 */
	-webkit-transform: scale3d(0, var(--scale3dFactor-Title), 0) translate3d(0, calc((var(--websitePreview-expanded-size) + var(--websitePreviewImage-expanded-size)) / -4), 0);
	transform: scale3d(0, var(--scale3dFactor-Title), 0) translate3d(0, calc((var(--websitePreview-expanded-size) + var(--websitePreviewImage-expanded-size)) / -4), 0);
	transition:all var(--transition-time-medium);
}

.expandedState .websitePreviewExpandedTitle {
  -webkit-transform: scale3d(var(--scale3dFactor-Title), var(--scale3dFactor-Title), 1) translate3d(0, calc(var(--websitePreviewImage-expanded-size) / -2 - 50%), 0);
  transform: scale3d(var(--scale3dFactor-Title), var(--scale3dFactor-Title), 1) translate3d(0, calc(var(--websitePreviewImage-expanded-size) / -2 - 50%), 0);
}

#websitePreviewExpandedButtonSection {
  position: fixed;            /* This avoids layout shifts during the expandedState animation  */
	display:flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% * var(--scale3dFactor));
  height: calc(25 / 100 * var(--websitePreview-current-size) * var(--scale3dFactor));

  /* the *2 is due to the scale3dFactor-image having as the increasing factor 2 */
  -webkit-transform: scale3d(0, var(--scale3dFactor-ButtonSection), 0) translate3d(0, calc(var(--websitePreviewImage-expanded-size) / 2 + 50%), 0);
	transform: scale3d(0, var(--scale3dFactor-ButtonSection), 0) translate3d(0, calc(var(--websitePreviewImage-expanded-size) / 2 + 50%), 0);
	transition:all var(--transition-time-medium);
}

.expandedState #websitePreviewExpandedButtonSection {
  -webkit-transform: scale3d(var(--scale3dFactor-ButtonSection), var(--scale3dFactor-ButtonSection), 1) translate3d(0, calc(var(--websitePreviewImage-expanded-size) / 2 + 50%), 0);
  transform: scale3d(var(--scale3dFactor-ButtonSection), var(--scale3dFactor-ButtonSection), 1) translate3d(0, calc(var(--websitePreviewImage-expanded-size) / 2 + 50%), 0);
}

.websitePreviewExpandedButton {
  font-family: "UniNeueLight";
  font-weight: bold;
  height: 60%;
	outline:none;
	border:none;
	cursor:pointer;
  white-space: nowrap;
  font-size:3rem;
  padding:0.7em;
	background:var(--theme-blur-background-color-White);
	border-radius:var(--boxShapedElement-border-radius-wide);
	-webkit-box-shadow: 0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);
	box-shadow: 0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);
	transition:all var(--transition-time-medium);

  -webkit-transform: scale3d(0,0,0);
	transform: scale3d(0,0,0);
}

.expandedState .websitePreviewExpandedButton {
  -webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

#websitePreviewExpandedBackgroundContent {
  position: fixed;                   /* This avoids layout shifts during the expandedState animation */
  pointer-events: none;
	z-index:4;
	cursor:pointer;
}

.carouselButton {
	font-size:3rem;
	padding:0.5em;
	margin:auto;
	cursor:pointer;
	border-radius:100%;
	outline:none;
	border:none;
	background:var(--theme-blur-background-color-Brightest);
	-webkit-box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);
	box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);
	-webkit-backdrop-filter:blur(var(--backdrop-filter-blur-radius));
	backdrop-filter:blur(var(--backdrop-filter-blur-radius));
	transition:transform var(--transition-time-quick);
}

.carouselButton:active {
	-webkit-box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black) inset;
	box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black) inset;
}























/* 9) FOURTH PAGE ELEMENTS' STYLING */
#contactMeForm {
	display:flex;
	flex-direction:column;
	width: 50%;
	height: calc(100% - var(--header-elements-height) - 2 * var(--header-elements-padding));
	margin-top:auto;
}

#contactMeForm > label {
  font-family: "UniNeueLight";
  font-weight: bold;
  z-index:1;
	box-sizing: border-box;
	display:flex;
	align-items:center;
	font-size: calc(var(--1vh) * 3.5);
	margin: auto auto 0 auto;
	padding: 0 10% 0 10%;
	height: 8%;
	border-radius:1rem;
	-webkit-box-shadow: var(--theme-box-shadow);
	box-shadow: var(--theme-box-shadow);
	backface-visibility:hidden;						/* Blurry text fix */
	background:var(--theme-blur-background-color-Dark);
	-webkit-backdrop-filter:blur(var(--backdrop-filter-blur-radius-reduced)) saturate(150%);
	backdrop-filter:blur(var(--backdrop-filter-blur-radius-reduced)) saturate(150%);
}

#contactMeFormEmail,
#contactMeFormBody,
#contactMeFormSendButton {
  font-family: "UniNeueLight";
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: calc(var(--1vh) * 3);
	padding: 2%;
	border:none;
	outline: none;
	border-radius:1rem;
	position:relative;
}

#contactMeFormEmail:focus,
#contactMeFormBody:focus {
	cursor:auto;
}

#contactMeFormEmail,
#contactMeFormBody {
	cursor: text;
	overflow: auto;
	background:var(--theme-blur-background-color-Bright);
	-webkit-box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);
	box-shadow:0 0 var(--box-shadow-radius) 0 var(--theme-blur-background-color-Black);
	-webkit-backdrop-filter:blur(var(--backdrop-filter-blur-radius-ultra-wide)) saturate(150%);
	backdrop-filter:blur(var(--backdrop-filter-blur-radius-ultra-wide)) saturate(150%);
}

#contactMeFormEmail {
	text-align:center;
	height: 10%;
}

#contactMeFormBody {
	resize: none;
	overscroll-behavior:none;
	height: 30%;
}

#contactMeFormSendButton {
  font-weight: bold;
	cursor: pointer;
	margin:auto;
	width: 50%;
	height: 10%;

	-webkit-box-shadow:var(--theme-box-shadow);
	box-shadow: var(--theme-box-shadow);

  background:var(--theme-blur-background-color-Dark);
  -webkit-backdrop-filter:blur(var(--backdrop-filter-blur-radius)) saturate(150%);
	backdrop-filter:blur(var(--backdrop-filter-blur-radius)) saturate(150%);
}


#contactMeFormEmail:disabled,
#contactMeFormBody:disabled,
#contactMeFormEmail[disabled],
#contactMeFormBody[disabled] {
    cursor: not-allowed;
}

#contactMeFormSendButton:disabled,
#contactMeFormSendButton[disabled] {
  cursor: not-allowed;
  color:var(--theme-text-color-disabled);
	background:var(--theme-blur-background-color-Brightest);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--theme-text-color);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  transition: background-color 10000s ease-in-out;
}












/* 10) MEDIA:HOVER-WITH-ACTUAL-MOUSE ELEMENTS' STYLING */
@media (hover:hover) and (pointer: fine) {					/* Prevents touch devices to trigger the fake hover behaviour */
	:root {
		--scaling-factor-increase:1.1;
		--scaling-factor-decrease:0.9;
	}

  .pageLink:hover .pageLinkBarOnHover,
  .pageLink:focus .pageLinkBarOnHover {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}










/* 11) MEDIA:MOBILE-PORTRAIT BROWSERS ELEMENTS' STYLING */
@media only screen and (max-width:1080px) {
	:root {
		--header-elements-height:50px;
		--header-elements-height-reduced:36px;
		--header-elements-padding:10px;
		--bar-margin:15px;
		--bar-width:40px;
		--bar-height:4px;
		--bar-offset-translate3d:calc((var(--bar-height) + var(--bar-margin))/2);
		--bar-offset-inverted-translate3d:calc(-1 * var(--bar-offset-translate3d));

		--socialNetworks-offsetY-translate3d:calc((var(--header-socialNetworks-div-width) - var(--header-elements-height))/2);

		--profilePic-size:23vmin;
		--presentationCard-height:80vmin;
		--presentationCard-width:75vmin;

  	--websitePreview-size:20rem;
    --websitePreview-expanded-size:75vmin;
	}

  #popUpMessageText {
    font-size: 350%;
  }

  #bodyBackground {
    max-width:300%;
    max-height:300%;
  }

	#headerBackground.mobileExpanded {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	#header.mobileExpanded {
		-webkit-transform: translate3d(0, calc(var(--50vh) - var(--header-elements-height) / 2 - var(--header-elements-padding) + var(--window-inner-height-offset) / 2), 0);
		transform: translate3d(0, calc(var(--50vh) - var(--header-elements-height) / 2 - var(--header-elements-padding) + var(--window-inner-height-offset) / 2), 0);
	}

	#hamburgerMenu {
		z-index:4;
		cursor:pointer;
	}

	#hamburgerMenuUpperBar,
	#hamburgerMenuLowerBar {
		width:var(--bar-width);
		height:var(--bar-height);
		margin:var(--bar-margin) 0 var(--bar-margin) 0;
		border-radius:var(--boxShapedElement-border-radius);
		background-color:var(--theme-text-color);
		transition:var(--transition-time);
	}

	.mobileExpanded #hamburgerMenuUpperBar  {
		-webkit-transform:translate3d(0, var(--bar-offset-translate3d), 0) rotate3d(0,0,1,45deg);
		transform:translate3d(0, var(--bar-offset-translate3d), 0) rotate3d(0,0,1,45deg);
	}

	.mobileExpanded #hamburgerMenuLowerBar {
		-webkit-transform:translate3d(0, var(--bar-offset-inverted-translate3d), 0) rotate3d(0,0,1,-45deg);
		transform:translate3d(0, var(--bar-offset-inverted-translate3d), 0) rotate3d(0,0,1,-45deg);
	}

	#linkSection {
		pointer-events:none;
		flex-direction:column;
    justify-content: space-around;
		font-size:2.5rem;
    font-weight: bold;
    height: calc(var(--1vh) * 65);

		-webkit-transform:scale3d(0, 0, 0);
		transform:scale3d(0, 0, 0);
	}

	.mobileExpanded #linkSection {
		pointer-events:auto;
		-webkit-transform:scale3d(1, 1, 1);
		transform:scale3d(1, 1, 1);
		transition: var(--transition-time-medium);
	}

	.pageLink {
		margin:0 auto 0 auto;
	}

	#socialNetworks {
		transition: var(--transition-time-medium);
	}

	#socialNetworks > a {
		font-size: 40px;
		transition: var(--transition-time);
	}

	#socialNetworks > #mailContact,
	#socialNetworks > #stackoverflowContact {
		font-size: var(--header-elements-height-reduced);
	}

	#socialNetworks > a::after {
		opacity: 1;
	}

	.mobileExpanded #socialNetworks {
		-webkit-transform:translate3d(var(--socialNetworks-offsetY-translate3d), 0, 0) rotate3d(0,0,1,90deg);
		transform:translate3d(var(--socialNetworks-offsetY-translate3d), 0, 0) rotate3d(0,0,1, 90deg);
	}

	.mobileExpanded #socialNetworks > a {
		-webkit-transform:rotate3d(0,0,1,-90deg);
		transform:rotate3d(0,0,1, -90deg);
	}

	.mobileExpanded #socialNetworks > a::after {
		opacity: 0;
	}

	.mobileExpanded #socialNetworks > a:hover::after {
		opacity: 1;
	}

  #scrollDownButton::after {
    width: 5rem;
    height: 5rem;

    line-height: 5rem;
    text-align: center;

    font-size:7rem;
    font-weight: bold;
  }

  #presentationCard > * {
    font-size: 3rem;
  }

	#websiteShowcase {
		max-width:85%;
	}

  .websitePreview {
  	margin:1.2rem 0em 1.2rem 1.2rem;
  }

  #websiteShowcase::after {
    border-right: 1.2rem solid transparent;			/* Fix for the right margin being ignored by the overflow of websiteShowcase */
  }

	.carouselButton {
		display:none;
	}

	#contactMeForm {
		width: 75%;
	}
}








/* 12) MEDIA:MOBILE-LANDASCAPE BROWSERS ELEMENTS' STYLING */
@media only screen and (max-height:600px) and (orientation: landscape){
  :root {
    --websitePreview-expanded-size:85vmin;
  }

  .pageSeparator {
		opacity:0;
	}

  #scrollDownButton {
    display: none;
  }
}
